<a href="https://colab.research.google.com/github/chosunghyun18/kaggle/blob/master/Type2_Titanic_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd
import numpy as np

In [4]:
!ls

drive  sample_data

In [5]:
train=pd.read_csv('/content/drive/My Drive/Titanic_data/train.csv')
test=pd.read_csv('/content/drive/My Drive/Titanic_data/test.csv')

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
print('train data shape',train.shape)
print('test data shape',test.shape)
print('----train information')
print(train.info())
print('test info')
print(test.info())

train data shape (891, 12)
test data shape (418, 11)
----train information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
test info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns 
sns.set()

In [10]:
def pie_chart(feature):
  print('-----show 1')
  feature_ratio = train[feature].value_counts(sort=False)
  feature_size=feature_ratio.size
  feature_index =feature_ratio.index


  survived=train[train['Survived']==1][feature].value_counts()
  print(survived)
  dead=train[train['Survived']==0][feature].value_counts()
  print(dead)

  plt.plot(aspect='auto')
  plt.pie(feature_ratio)
  plt.title(feature+'\s ratio in total')
  plt.show()

  print('----show2')
  for i,index in enumerate(feature_index):#enumerate help for countng the roop
      plt.subplot(1,feature_size+1,i+1, aspect='equal')
      plt.pie([  survived[index] , dead[index] ],labels=['Survived',Dead],autopct='%1.1f%%')
      plt.title(str(index)+'\'s ratio  ' )

  plt.show()

In [11]:
def bar_chart(feature):
  survived = train[train['Survived']==1][feature].value_counts()
  print('survived'+feature)
  print(survived)

  dead=train[train['Survived']==0][feature].value_counts()
  print('Dead'+feature)
  print(dead)

  df.pd.DataFrame([survived,dead])
  df.index=['Survived','Dead']
  df.plot(kind='bar',stacked=True,figsize=(10,5))

In [12]:
train['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [13]:
train_and_test=[train,test]

In [14]:
train_and_test

[     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
 0              1         0       3  ...   7.2500   NaN         S
 1              2         1       1  ...  71.2833   C85         C
 2              3         1       3  ...   7.9250   NaN         S
 3              4         1       1  ...  53.1000  C123         S
 4              5         0       3  ...   8.0500   NaN         S
 ..           ...       ...     ...  ...      ...   ...       ...
 886          887         0       2  ...  13.0000   NaN         S
 887          888         1       1  ...  30.0000   B42         S
 888          889         0       3  ...  23.4500   NaN         S
 889          890         1       1  ...  30.0000  C148         C
 890          891         0       3  ...   7.7500   NaN         Q

 [891 rows x 12 columns],      PassengerId  Pclass  ... Cabin Embarked
 0            892       3  ...   NaN        Q
 1            893       3  ...   NaN        S
 2            894       2  ...   NaN        Q
 3            895       3  ...   NaN        S
 4            896       3  ...   NaN        S
 ..           ...     ...  ...   ...      ...
 413         1305       3  ...   NaN        S
 414         1306       1  ...  C105        C
 415         1307       3  ...   NaN        S
 416         1308       3  ...   NaN        S
 417         1309       3  ...   NaN        C

 [418 rows x 11 columns]]

In [15]:
for dataset in train_and_test:
  dataset['Title']= dataset.Name.str.extract('([A-Za-z]+)\.')

train.head(5)

   PassengerId  Survived  Pclass  ... Cabin Embarked  Title
0            1         0       3  ...   NaN        S     Mr
1            2         1       1  ...   C85        C    Mrs
2            3         1       3  ...   NaN        S   Miss
3            4         1       1  ...  C123        S    Mrs
4            5         0       3  ...   NaN        S     Mr

[5 rows x 13 columns]

In [16]:
pd.crosstab(train['Title'],train['Sex']).T

Title   Capt  Col  Countess  Don  Dr  Jonkheer  ...  Mme   Mr  Mrs  Ms  Rev  Sir
Sex                                             ...
female     0    0         1    0   1         0  ...    1    0  125   1    0    0
male       1    2         0    1   6         1  ...    0  517    0   0    6    1

[2 rows x 17 columns]

In [17]:
for dataset in train_and_test:
    dataset['Title']=dataset['Title'].replace(['Capt','Col','Countes','Don','Dona','Dr','Jonkheer','Lady','Major','Rev','Sir'],'Other')
    dataset['Title']=dataset['Title'].replace('Mlle','Miss')
    dataset['Title']=dataset['Title'].replace('Mme','Mrs')
    dataset['Title']=dataset['Title'].replace('Ms','Miss')
    
train[['Title','Survived']].groupby(['Title'],as_index=False).mean()

      Title  Survived
0  Countess  1.000000
1    Master  0.575000
2      Miss  0.702703
3        Mr  0.156673
4       Mrs  0.793651
5     Other  0.318182

In [18]:
for dataset in train_and_test:
    dataset['Title']=dataset['Title'].astype(str)

In [19]:
for dataset in train_and_test:
    dataset['Sex'] = dataset['Sex'].astype(str)

In [20]:
dataset['Sex']

0        male
1      female
2        male
3        male
4      female
        ...
413      male
414    female
415      male
416      male
417      male
Name: Sex, Length: 418, dtype: object

In [21]:
train.Embarked.value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

In [22]:
for dataset in train_and_test:
    dataset['Embarked'] =  dataset['Embarked'].fillna('S')
    dataset['Embarked'] = dataset['Embarked'].astype(str)

In [23]:
dataset['Embarked']

0      Q
1      S
2      Q
3      S
4      S
      ..
413    S
414    C
415    S
416    S
417    C
Name: Embarked, Length: 418, dtype: object

In [24]:
for dataset in train_and_test:
    dataset['Age'].fillna(dataset['Age'].mean(),inplace=True)
    dataset['Age']=dataset['Age'].astype(int)
    train['AgeBand']=pd.cut(train['Age'],5)

print(train[['AgeBand','Survived']].groupby(['AgeBand'],as_index=False).mean())

         AgeBand  Survived
0  (-0.08, 16.0]  0.550000
1   (16.0, 32.0]  0.344762
2   (32.0, 48.0]  0.403226
3   (48.0, 64.0]  0.434783
4   (64.0, 80.0]  0.090909

In [25]:
for dataset in train_and_test:
  dataset.loc[dataset['Age'] <= 16,'Age']= 0 
  dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32),'Age']= 2 
  dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 32),'Age']= 1 
  dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 32),'Age']= 3 
  dataset.loc[(dataset['Age'] > 64) ,'Age']= 1 
  dataset['Age']=dataset['Age'].map({0:'Child',1:'Young',2:'Middle',3:'Prime',4:'Old'}).astype(str)

In [26]:
print(train[['Pclass','Fare']].groupby(['Pclass'],as_index=False).mean())
print(" ")
print(test[test["Fare"].isnull()]["Pclass"])

   Pclass       Fare
0       1  84.154687
1       2  20.662183
2       3  13.675550

152    3
Name: Pclass, dtype: int64

In [27]:
for dataset in train_and_test:
  dataset['Fare'] = dataset['Fare'].fillna(13.675)

In [28]:
for dataset in train_and_test:
  dataset.loc[dataset['Fare']<=7.854,'Fare']= 0
  dataset.loc[(dataset['Fare'] > 7.854)&(dataset['Fare'] <= 10.5),'Fare']= 1
  dataset.loc[(dataset['Fare'] > 10.5)&(dataset['Fare'] <= 21.679),'Fare']= 2
  dataset.loc[(dataset['Fare'] > 21.579) & (dataset['Fare'] <= 39.688),'Fare']= 3
  dataset.loc[dataset['Fare'] > 39.688,'Fare']= 4
  dataset['Fare']=dataset['Fare'].astype(int)

In [29]:
for dataset in train_and_test:
    dataset['Family'] = dataset["Parch"]+dataset["SibSp"]
    dataset["Family"] = dataset["Family"].astype(int)
    #Section 4-6

In [30]:
train_and_test

[     PassengerId  Survived  Pclass  ...  Title       AgeBand Family
 0              1         0       3  ...     Mr  (16.0, 32.0]      1
 1              2         1       1  ...    Mrs  (32.0, 48.0]      1
 2              3         1       3  ...   Miss  (16.0, 32.0]      0
 3              4         1       1  ...    Mrs  (32.0, 48.0]      1
 4              5         0       3  ...     Mr  (32.0, 48.0]      0
 ..           ...       ...     ...  ...    ...           ...    ...
 886          887         0       2  ...  Other  (16.0, 32.0]      0
 887          888         1       1  ...   Miss  (16.0, 32.0]      0
 888          889         0       3  ...   Miss  (16.0, 32.0]      3
 889          890         1       1  ...     Mr  (16.0, 32.0]      0
 890          891         0       3  ...     Mr  (16.0, 32.0]      0

 [891 rows x 15 columns],      PassengerId  Pclass  ...   Title Family
 0            892       3  ...      Mr      0
 1            893       3  ...     Mrs      1
 2            894       2  ...      Mr      0
 3            895       3  ...      Mr      0
 4            896       3  ...     Mrs      2
 ..           ...     ...  ...     ...    ...
 413         1305       3  ...      Mr      0
 414         1306       1  ...   Other      0
 415         1307       3  ...      Mr      0
 416         1308       3  ...      Mr      0
 417         1309       3  ...  Master      2

 [418 rows x 13 columns]]

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    object
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    int64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
 12  Title        891 non-null    object
 13  AgeBand      891 non-null    category
 14  Family       891 non-null    int64
dtypes: category(1), int64(7), object(7)
memory usage: 98.7+ KB

In [32]:
features_drop = ["Name","Ticket","Cabin","SibSp","Parch"]
train=train.drop(features_drop,axis=1)
test=test.drop(features_drop,axis=1)
train=train.drop(["PassengerId","AgeBand"],axis=1)

   Survived  Pclass     Sex     Age  Fare Embarked Title  Family
0         0       3    male  Middle     0        S    Mr       1
1         1       1  female     nan     4        C   Mrs       1
2         1       3  female  Middle     1        S  Miss       0
3         1       1  female     nan     4        S   Mrs       1
4         0       3    male     nan     1        S    Mr       0

In [34]:
print(train.head())
print(test.head())

   Survived  Pclass     Sex     Age  Fare Embarked Title  Family
0         0       3    male  Middle     0        S    Mr       1
1         1       1  female     nan     4        C   Mrs       1
2         1       3  female  Middle     1        S  Miss       0
3         1       1  female     nan     4        S   Mrs       1
4         0       3    male     nan     1        S    Mr       0
   PassengerId  Pclass     Sex     Age  Fare Embarked Title  Family
0          892       3    male     nan     0        Q    Mr       0
1          893       3  female     nan     0        S   Mrs       1
2          894       2    male     nan     1        Q    Mr       0
3          895       3    male  Middle     1        S    Mr       0
4          896       3  female  Middle     2        S   Mrs       2

In [180]:
train=pd.get_dummies(train)
test=pd.get_dummies(test)
train_label=train['Survived']
train_data=train.drop("Survived",axis=1)
test_data=test.drop("PassengerId",axis=1).copy()

In [181]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.utils import shuffle

In [182]:
train_data ,train_label = shuffle(train_data,train_label,random_state=5)

In [189]:
def train_and_test(model):
    model.fit(train_data,train_label)
    prediction=model.predict(test_data)
    accuracy=round(model.score(train_data,train_label)*100,2)
    print("accuracy:",accuracy)
    return prediction

In [193]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 126 to 867
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pclass          891 non-null    int64
 1   Fare            891 non-null    int64
 2   Family          891 non-null    int64
 3   Sex_female      891 non-null    uint8
 4   Sex_male        891 non-null    uint8
 5   Age_Child       891 non-null    uint8
 6   Age_Middle      891 non-null    uint8
 7   Age_Young       891 non-null    uint8
 8   Age_nan         891 non-null    uint8
 9   Embarked_C      891 non-null    uint8
 10  Embarked_Q      891 non-null    uint8
 11  Embarked_S      891 non-null    uint8
 12  Title_Countess  891 non-null    uint8
 13  Title_Master    891 non-null    uint8
 14  Title_Miss      891 non-null    uint8
 15  Title_Mr        891 non-null    uint8
 16  Title_Mrs       891 non-null    uint8
 17  Title_Other     891 non-null    uint8
dtypes: int64(3), uint8(15)
memory usage: 40.9 KB

In [190]:
log_pred=train_and_test(LogisticRegression())

svm_pred=train_and_test(SVC())

knn_pred=train_and_test(KNeighborsClassifier(n_neighbors=4))

train_and_test(RandomForestClassifier(n_estimators=100))

train_and_test = train_and_test(GaussinNB)

ValueError: ignored